.video__subtitle{
position: absolute;
margin: 0;
        font-weight: normal;
         color: white;
            z-index: 5;

        max-width: 300px;
        font-size: 1em;
        line-height: 1.17;
left: 16px;
bottom: 16px;        
}

@media screen and (min-width: 375px){
.video__subtitle{
left: 24px;
bottom: 24px;
              
}
}

@media screen and (min-width: 1024px){
.video__subtitle{
left: 30px;
bottom: 30px;
}
}